.git
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache
tests
.editorconfig
.styleci.yml
docker-compose.yml
Dockerfile
README.md
